@media  screen and (max-width: 950px) {
#cont-apart{
    flex-direction: column !important;
}
#apart{
    flex-direction: column !important;
    margin-left: 10px !important;
}
#apart p{
    width: 100% !important;
    margin: 0 !important;
}
#apart-btn{
    flex-direction: row !important;
    width: 100% !important;
    justify-content: space-around !important;
}
#apart-btn button{
    width: 27% !important;
}
}

#header-company{
    display: flex;
    flex-direction: row;
    margin: 0px 3%;
    background-color: white
}
#header-company h3{
    background-color: rgb(194, 194, 194);
    padding: 7px;
    border-radius: 10px;
    margin-right: 2%;
    height: 25px;
    width: 25px;
    font-family: 'Geosans';
    color: white;
    text-align: center;
}

#cont-subjob{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    padding: 0px 10px;
}

.btn-job-comp{
    margin-top: 0;
    background-color: white;
    border: none;
    cursor:pointer;
    font-size: 18px;
    font-family: 'Geosans';
    font-weight: bolder;
    width: fit-content;
}

.btn-job{
    height: 20px;
    background-color: white;
    border: none;
    cursor:pointer;
    font-family: 'Geosans';
    font-size: 17px;
    font-weight: bold;
}
.btn-job-p{
    font-family: 'Geosans';
    font-size: 17px;
}

#card-date{
    width: 100px;
    font-size: 18px;
    font-family: 'Geosans';
}

#cont-apart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cont-aparT{
    width: 78%;
}

#apart{
    display: flex;
    flex-direction: row;
}
#apart p{
    width: 50%;
    margin-left: 10%;
    padding-top: 8px;
    font-family: 'Geosans';
    font-size: 17px;
    font-weight: bold;
    color: rgb(138, 138, 138);
}
#apart h4{

    font-family: 'Geosans';
    font-weight: bold;
    font-size: 18px;
}

#apart-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
#apart-btn button{
    width: 50%;
    height: fit-content;
    margin: 15px 0px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    border-color: rgb(9, 163, 252);
    color: rgb(52, 175, 247);
    border-style: solid;
    font-family: 'Geosans';
    font-size: 20px;
    font-weight: bold;
    transition: 500ms;
}
#apart-btn button:hover{
    background-color: rgb(9, 163, 252);
    color: white;
}