#cont-footer{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
#about{
    margin: 0px 10% 0px 2%;
}
#about h2{
    font-family: 'Baron';
}
#about p{
    font-family: 'Geosans';
    font-weight: bold;
    cursor: pointer;
}