#cont-jobPage{
    background-color: rgb(240, 240, 240);
    margin: 20px 0px;
    padding-bottom: 20px;
}

#searchBar{
    display: flex;
    justify-content: center;
}
#searchBar input{
    margin: 20px 20px 20px 20px;
    height: 40px;
    width: 96%;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    
}

#filters-jobs{
    display:flex;
    flex-direction: row;
    justify-content: initial;
}
#filters{
    width: 21%;
}
#jobs{
    background-color: white;
    width: 77%;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: thin;
}


#cont-filt{
    background-color: white;
    margin: 0px 8%;
    margin-bottom: 20px;
    width: 82%;
    height: fit-content;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: thin;
}
#cont-filt h2{
    padding: 0px 20px;
}
#list-filt{
    display: flex;
    flex-direction: row;
    margin: 15px;
    height: 20px;
}
#list-filt button{
    height: fit-content;
    max-width: 180px;
    background-color: white;
    border:none;
    font-size: 16px;
    cursor:pointer;
    text-align: initial;
}
#list-filt p{
 margin: 0px 5px;
 color: rgb(163, 163, 163)
}

#sort-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#job-postings{
    display: flex;
    flex-direction: row;
    margin: 0 2%;
}
#job-postings p{
    margin: 10px
}
#job-postings h3{
    margin:10px
}
#job-sorts{
    display: flex;
    flex-direction: row;
    margin: 0 2%;
}
#job-sorts select{
    background-color: white;
    height: 20px;
    width: fit-content;
    margin: 15px 0px;
    cursor: pointer;
}
#job-sorts p{
    color: rgb(163, 163, 163);
}
#sort-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    margin-left: 10px;
    text-align: center;
}
#sort-label label{
    margin-top: 16px
}

#header-company{
    display: flex;
    flex-direction: row;
    margin: 0px 3%;
    background-color: white;
}
#header-company h3{
    background-color: rgb(194, 194, 194);
    padding: 7px;
    border-radius: 10px;
    margin-right: 2%;
    height: 25px;
    color: white;
}




